.container
{
    position: absolute;
    border: 2px solid black;
    background-color: gray;
     padding: 80px;
    bottom: 150px;
    right: 20px;
    padding-bottom: 20px; 
    margin-right: 240px;
    margin-bottom: 200px;
}

.number{
    position: relative;
    color: black;
    font-style: oblique;
    margin: 10px;
    transform: rotateX(150deg);
}
.money{
    position: relative;
    margin-right: 10px;
}

.expense{
    position: absolute;
    margin-top: -79px;
    margin-left: 180px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                     0 3px 0 #ccc, 0 4px 0 #ccc,
                     0 5px 0 #ccc, 0 6px 0 #ccc,
                     0 20px 30px rgba(0, 0, 0, 0.5);
}

.button{
    position: relative;
    margin-left: 10px;
    color: grey;
    margin-top: 20px;
    background-color: black;
   
}
.items{
    /* position: relative; */
    border: 2px solid black;
    color: black;
    padding-left: 30px;
    padding-right: 200px;
    margin-top: 300px;
   
    background-color: gray;
    gap: 1rem;
    margin-right: 500px; 
     }

     .expenseitem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
        padding: 0.5rem;
        margin: 1rem 0;
        border-radius: 12px;
        padding-left: 170px;
        padding-right: 150px;
        padding-bottom: 30px;
        background-color: #4b4b4b;
      }
      
      .expenseitemdescription {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-end;
        flex-flow: column-reverse;
        justify-content: flex-start;
        flex: 1;
      }
      
      .expense-item h2 {
        color: #3a3a3a;
        font-size: 1rem;
        flex: 1;
        margin: 0 1rem;
        color: white;
      }
      
      .expense-item__price {
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background-color: #40005d;
        border: 1px solid white;
        padding: 0.5rem;
        border-radius: 12px;
      }
      
      @media (min-width: 580px) {
        .expense-item__description {
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          flex: 1;
        }
      
        .expense-item__description h2 {
          font-size: 1.25rem;
        }
      
        .expense-item__price {
          font-size: 1.25rem;
          padding: 0.5rem 1.5rem;
        }
      }