.home 
{
    position:absolute;
    left: 5px;
    top:9px;
    background-color: white;
}

.profile{
    position: absolute;
    top: 0px;
    left: 1000px;
    background-color: white;
}

.parent{
    background-color: black;
}